# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

### Lista

In [10]:
listadomercado = ['ovos,farinha,leite,maça']
print(listadomercado)
# para esse caso será impresso toda a lista, pois não tem aspas para separar os elementos. 
# Todos os produtos estão dentro de um unico caracter.
print(listadomercado[0])

['ovos,farinha,leite,maça']
ovos,farinha,leite,maça

In [19]:
listadomercado2 = ['ovos','farinha','leite','maça']
print(listadomercado2)
# será impresso uma lista com um elemento, pois as aspas separam os elementos.
print(listadomercado2[0])

['ovos', 'farinha', 'leite', 'maça']
ovos

In [12]:
lista3 = [12,100,'universidade']
print(lista3)

[12, 100, 'universidade']

In [13]:
item1 = lista3[2]
item2 = lista3[0]
item3 = lista3[1]

In [14]:
print(item1,item2,item3)

universidade 12 100

### Atualizar item de uma lista

In [16]:
listadomercado2[2] = 'chocolate'
print(listadomercado2)

['ovos', 'farinha', 'chocolate', 'maça']

### Deletando item da lista

In [20]:
del listadomercado2[3]

In [21]:
print(listadomercado2)

['ovos', 'farinha', 'leite']

### Listas de listas (Listas aninhadas)

In [22]:
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [25]:
listas[0]

[1, 2, 3]

In [38]:
lis = listas[0]
print(lis[2])

3

### Operação com lista

In [39]:
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [48]:
a = listas[0][1] + 10
b = listas[1][2]
c = listas[2][2]
print(a,'|',b,'|',c)

12 | 14 | 2.3

### Concatenar lista

In [49]:
# Criando uma lista aninhada (lista de listas)
lista = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [57]:
lista[0]

[1, 2, 3]

In [58]:
lista[2]

[10.1, 8.7, 2.3]

In [68]:
lista_total = lista[0]+lista[1]+lista[2]
print(lista_total)

[1, 2, 3, 10, 15, 14, 10.1, 8.7, 2.3]

In [65]:
lista_total[0]

1

### Operador in

In [70]:
lista_op = [100,2,-10,3.4]

In [72]:
# elemento (in) irá localizar se existe o número 100 na lista, se sim será retornado o valor TRUE
print(100 in lista_op)

True

In [74]:
# elemento in irá localizar se existe o número 10 na lista, se não será retornado o valor FALSE
print(10 in lista_op)

False

### Funções Built-in

In [75]:
lista4 = [1, 2, 3, 10, 15, 14, 10.1, 8.7, 2.3]

In [76]:
# Função len() retorna o comprimento da lista
len(lista4)

9

In [77]:
# Função max() retorna o valor máximo da lista
max(lista4)

15

In [78]:
# Função min() retorna o valor mínimo da lista
min(lista4)

1

In [79]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [129]:
# Adicionando um item à lista
listadomercado2.append('carne')
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças', 'carne', 'carne', 'carne']

In [82]:
len(listadomercado2)

6

In [83]:
del listadomercado2[5]

In [84]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [130]:
# Count irá identificar a quantidade se houver itens repetidos.
listadomercado2.count('carne')

3

In [88]:
# Criar lista Vazia
a = []

In [89]:
a

[]

In [90]:
# identifica o tipo da variavel, portanto a variavel (a) é igual a list(lista).
type(a)

list

In [91]:
a.append(10)

In [92]:
a

[10]

In [112]:
# incluindo uma lista dentro de uma lista vazia
old1 = [1,2,3,100]

In [113]:
newlist = []

In [114]:
for item in old1:
    newlist.append(item)

In [115]:
newlist

[1, 2, 3, 100]

In [116]:
# incluindo vazio na lista cheia.
old2 = []

In [117]:
old = [100,200,300]

In [155]:
cidades = ['Recife', 'Manaus', 'Salvador']

In [159]:
# função extend inclui mais de um item na lista.
cidades.extend(['São Paulo','Rio de Janeiro'])
print(cidades)

['Recife', 'Manaus', 'Salvador', 'fortaleza', 'Palmas', 'São Paulo', 'Rio de Janeiro']

In [153]:
cidades.index('Salvador')

2

In [160]:
for i in cidades:
    print(cidades.index(i),'|',i)

0 | Recife
1 | Manaus
2 | Salvador
3 | fortaleza
4 | Palmas
5 | São Paulo
6 | Rio de Janeiro

In [164]:
cidade = ['Recife', 'Manaus', 'Salvador']

In [165]:
cidade

['Recife', 'Manaus', 'Salvador']

In [166]:
# função insert irá incluir o valor(100) na posição (2), conforme lista cidade.
cidade.insert(2,100)

In [169]:
cidade

['Recife', 'Manaus', 100, 'Salvador']

In [170]:
# Remove um item da lista
cidade.remove(100)

In [171]:
cidade

['Recife', 'Manaus', 'Salvador']

In [172]:
# Reverte a lista
cidade.reverse()

In [173]:
cidade

['Salvador', 'Manaus', 'Recife']

In [174]:
# Ordena lista
x = [3, 4, 2, 1]

In [176]:
x.sort()

In [177]:
x

[1, 2, 3, 4]