# <font color='blue'>  Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Variaveis e Operadores

In [2]:
x = 1
print(x)

1

In [3]:
xx = 2
print(xx)

2

In [4]:
type(xx)

int

In [5]:
xx = 9.5
print(xx)

9.5

In [6]:
type(xx)

float

## Declaração Multipla

In [23]:
p1,p2,p3 = 'Maria','José','Tobias'
print('Declaração Multipla - {}, {}, {}'.format(p1,p2,p3))

Declaração Multipla - Maria, José, Tobias

In [83]:
frt1 = frt2 = frt3 = 'laranja'

In [84]:
frt1

'laranja'

In [85]:
frt2

'laranja'

In [86]:
frt3

'laranja'

## Pode-se usar letras, números e underline (mas não se pode começar com números)

In [24]:
x1 = 50

In [25]:
x1

50

## Variáveis atribuídas a outras variáveis e ordem dos operadores

In [32]:
altura = 2

In [33]:
altura

2

In [36]:
largura = 10

In [38]:
area = altura * largura

In [39]:
area

20

## Operações com variáveis

In [70]:
idade1 = 2

In [74]:
idade2 = 2

In [45]:
result = idade1 + idade2

In [46]:
result

60

In [51]:
result2 = idade2 - idade1

In [52]:
result2

10

In [59]:
result3 = idade2 * idade1

In [60]:
result3

875

In [61]:
result4 = idade2 / idade1

In [62]:
result4

1.4

In [75]:
result5 = idade2 % idade1

In [76]:
result5

0

## Concatenação de Variáveis

In [77]:
nome = 'Alessandro'
sobrenome = 'Faqueti'

In [81]:
res = nome + ' ' + sobrenome

In [82]:
res

'Alessandro Faqueti'