# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 4</font>

### Lendo Arquivos

In [ ]:
# Abrindo arquivo para leitura
arq1 = open('arquivos/arquivo01.txt','r')

In [ ]:
# Lendo o Arquivo
print(arq1.read())

In [ ]:
# Contar o número de caracteres referente a uma frase
print(arq1.tell())

In [ ]:
# Retornar para o inicio do arquivo primeira linha primeira coluna
print(arq1.seek(0,0))

In [ ]:
# Retornando o número de retorno dentro do arquivo
print(arq1.read(10))

### Gravando Arquivos

In [ ]:
# Abrindo arquivo para gravação.
arq2 = open('arquivos/arquivo01.txt','w')

In [ ]:
# Gravando arquivo
arq2.write('Testando Gravação do arquivo...')

In [ ]:
arq2.close()

In [ ]:
arq2 = open('arquivos/arquivo01.txt','r')

In [ ]:
print(arq2.read())

In [ ]:
# Acrecentando linhas no arquqivo
arq2 = open('arquivos/arquivo01.txt','a')

In [ ]:
arq2.write(' Acrescentando nova linha!')

In [ ]:
arq2.close()

In [ ]:
arq2 = open('arquivos/arquivo01.txt','r')

In [ ]:
arq2.read()

### Atualizando no modo de Gravação

In [ ]:
filename = input('Digite o nome do arquivo: ')

In [ ]:
filename = filename + '.txt'

In [ ]:
arq3 = open(filename,'w')

In [ ]:
arq3.write('Incluindo text no arquivo criado para arquivo faqueti')

In [ ]:
arq3.close()

In [ ]:
arq3 = open(filename,'r')

In [ ]:
arq3.read()

### Abrindo um dataset em uma unica linha

Faça download do arquivo salarios.csv em nosso repositório no github. 
Este arquivo foi obtido no site de dados abertos do governo da cidade de Chicago, nos EUA: 
https://data.cityofchicago.org/

In [ ]:
f = open('arquivos/salarios.csv','r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
print(rows)

### Dividindo um datasete em colunas

In [ ]:
f = open('arquivos/salarios.csv','r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
fulldata = []

In [ ]:
for row in rows:
    linharow = row.split(',')
    fulldata.append(linharow)

In [ ]:
print(fulldata)

### Contanto as linhas de um arquivo

In [ ]:
f = open('arquivos/salarios.csv','r')

In [ ]:
data = f.read()

In [ ]:
rows = data.split('\n')

In [ ]:
listafull = []

In [ ]:
for i in rows:
    linharo = i.split(',')
    listafull.append(linharo)

In [ ]:
count = 0
for i in listafull:
    count += 1

In [ ]:
print(count)

### Meu teste passo a passo

In [1]:
arq5 = open('arquivos/salarios.csv','r')

In [2]:
data1 = arq5.read()

In [3]:
rows1 = data1.split('\n')

In [5]:
rows1

['']

In [4]:
li = []

In [5]:
li

[]

In [6]:
for ii in rows1:
    lis = ii.split(',')
    li.append(lis)

In [7]:
count = 0
for ii in li:
    count += 1

In [8]:
print(count)

32184

In [10]:
# Comando para abrir o arquivo
arq6 = open('arquivos/salarios.csv','r')

In [12]:
#comando para ler o arquivo, passando por uma Variavel
data2 = arq6.read()

In [13]:
# Comando para recuar os espaços passando para uma variavel
lin = data2.split('\n')

In [14]:
# Necessário criar uma lista para incluir os dados dentro de uma lista zerada.
l = []

In [16]:
# Comando para contar linha por linha do arquivo
for i in lin: # for para contar cada linha dentro do dataset.
    lista = i.split(',') # Gerada uma variavel(lista) para identificar atraves da função 
                         #.split(',') o tipo de delimitador
    l.append(lista) # gerando a lista (l) referente ao aquivo, conforme a variavel (lista).

In [17]:
# Comando para contar quantas linha foram geradas
c = 0 # contador iniciado do zero
for i in l: # for para contar cada linha dentro da lista gerada.
    c += 1 # cada linha mais um para efetivar a quantidade de linhas.
print(c) # apresena o total de linhas, conforme lista gerada.

32184

### Contando o número de colunas de um arquivo

In [25]:
fu = open('arquivos/salarios.csv','r')
data = fu.read()
dat = data.split('\n')
lisdat = []

In [26]:
for linha in dat:
    lidat = linha.split(',')
    lisdat.append(lidat)
    liscol = lisdat[0]

In [27]:
c=0
for coluna in liscol:
    c = c +1

In [28]:
print(c)

4

### Gravando arquivo pelo Jupyter Notebook

In [33]:
%%writefile arquivos/faqueti.txt # Grava o arquivo na pasta referente conforme o caminho especifico.
Olá este arquivo foi gerado pelo próprio Jupyter Notebook.
Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.

Writing arquivos/faqueti.txt

In [39]:
arq7 = open('arquivos/faqueti.txt','r')

In [43]:
arq7.read()

'Olá este arquivo foi gerado pelo próprio Jupyter Notebook.\nPodemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.\n'

In [44]:
arq7.seek(0) # Afunção retorna ao inicio da frase para que a leitura possa iniciar do zero. Feito esse comando
             # será possivel executar novamente o comando read(), para leitura a partir do zero.

0

In [45]:
arq7.readlines() # função le o arquivo linha a linha. O (\n) e interpretado como enter.

['Olá este arquivo foi gerado pelo próprio Jupyter Notebook.\n',
 'Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.\n']

In [47]:
# Outra forma de abrir o aquivo, através do loop FOR.
for line in open('arquivos/faqueti.txt'):
    print(line)

Olá este arquivo foi gerado pelo próprio Jupyter Notebook.

Podemos gerar quantas linhas quisermos e o Jupyter gera o arquivo final.

### Importando um Dataset com Pandas

In [48]:
import pandas as pd

In [49]:
filename = 'arquivos/binary.csv'

In [50]:
df = pd.read_csv(filename)

In [51]:
# comando (head) serve para abrir as primeiras linhas do arquivo
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [57]:
filename02 = 'arquivos/numeros.csv'

In [58]:
df3 = pd.read_csv(filename02)

In [59]:
df3.head()

   primeira  segunda  terceira
0        55       93        76
1        62       14        86

In [52]:
filename2 = 'arquivos/salarios.csv'

In [53]:
df2 = pd.read_csv(filename2)

In [56]:
df2.head(10)

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00
5,"ABARCA, ANABEL",ASST TO THE ALDERMAN,CITY COUNCIL,$70764.00
6,"ABARCA, EMMANUEL",GENERAL LABORER - DSS,STREETS & SAN,$40560.00
7,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,$91520.00
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER,FIRE,$90456.00
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,$86520.00

### Fim