### Manipulação de Arquivo

- Arquivos TXT
- Arquivos CSV 
- Arquivos JSON

### Manipulação de Arquivo .TXT

In [3]:
texto = "Cientista de Dados é a profissão que mais tem crescido em todo mundo.\n"
texto = texto + "Esses profissionais precisam se especializar em Programação, Estatística e Machine Learning.\n"
texto += "E claro, em Big Data."

In [4]:
print(texto)

Cientista de Dados é a profissão que mais tem crescido em todo mundo.
Esses profissionais precisam se especializar em Programação, Estatística e Machine Learning.
E claro, em Big Data.

In [5]:
# Importantdo o módulo (OS) - Serve para manipulação de arquivos e outros 
import os

In [6]:
# Criando um arquivo 
arquivo = open(os.path.join('arquivos/cientista02.txt'),'w')

In [7]:
for palav in texto.split():
    arquivo.write(palav+' ')

In [8]:
# Fechar o arquivo
arquivo.close()

In [9]:
arquivo = open('arquivos/cientista02.txt', 'r')
conteudo = arquivo.read()
arquivo.close()
print(conteudo)

Cientista de Dados é a profissão que mais tem crescido em todo mundo. Esses profissionais precisam se especializar em Programação, Estatística e Machine Learning. E claro, em Big Data.

### Usando a expressão with

In [20]:
with open('arquivos/cientista02.txt','r') as arquivo2:
    conteudo = arquivo2.read()

In [21]:
print(len(conteudo))

185

In [22]:
print(conteudo)

Cientista de Dados é a profissão que mais tem crescido em todo mundo. Esses profissionais precisam se especializar em Programação, Estatística e Machine Learning. E claro, em Big Data.

In [27]:
# Montando um aquivo texto, (formatando)
with open('arquivos/cientista02.txt','w') as arquivo03: # ira definir qual arquivo sera gravado, conforme o alias(arquivo03).
    arquivo03.write(texto[:21]) # O arquivo03 será gravado com os 21 primeiros caracteres.
    arquivo03.write('\n')  # linha ira definir que após 21 caracteres ele ira pular uma linha conforme o (\n)
    arquivo03.write(texto[:33])  # O arquivo03 será gravado com os 33 primeiros caracteres, após a quebra de linha.

In [26]:
# Ler o arquivo formatado, conforme codigo acima
arquivo03 = open('arquivos/cientista02.txt', 'r')
ler = arquivo03.read()
arquivo03.close()

print(ler)

Cientista de Dados é
Cientista de Dados é a profissão

### Manipulando arquivos CSV(comma-separated values)

In [28]:
# Importando o módulo CSV
import csv

In [42]:
# Gravando dados nas tuplas() e linhas do arquivo CSV
with open('arquivos/numeros.csv','w') as arquivo:
    w = csv.writer(arquivo)
    w.writerow(('primeira','segunda','terceria'))
    w.writerow((55,93,76))
    w.writerow((9000,140,1000))

In [34]:
# Leitura do arquivo CSV
with open('arquivos/numeros.csv','r') as arquivo:
    leitor = csv.reader(arquivo)
    for x in leitor:
        print('Numero de colunas',len(x))
        print(x)

Numero de colunas 3
['primeira', 'segunda', 'terceria']
Numero de colunas 3
['55', '93', '76']
Numero de colunas 3
['90', '14', '10']

### Gerando uma lista com dados do arquivo CSV

In [52]:
with open('arquivos/numeros.csv','r')as arquivo:
    lei = csv.reader(arquivo)
    dados = list(lei)
print(dados)

[['primeira', 'segunda', 'terceria'], ['55', '93', '76'], ['9000', '140', '1000']]

In [57]:
# Imprimindo a partir da sgunda linha
for linha in dados[1:]:
    print(linha)

['55', '93', '76']
['9000', '140', '1000']

In [35]:
import pandas as pd

In [43]:
filename = 'arquivos/numeros.csv'

In [44]:
c = pd.read_csv(filename)

In [48]:
c.head()

   primeira  segunda  terceria
0        55       93        76
1      9000      140      1000