### Acessando banco de dados com Pyhton

In [1]:
# comando para verificar se existe algum banco com o mesmo nome ja configurado
import os
os.remove('faqescola') if os.path.exists('faqescola') else None

In [2]:
# Importando o módulo de acesso ao SQLITE
import sqlite3

In [5]:
# Criar uma conexão com o Banco de Dados
# Se não existir o banco, esse comando irá criar através da solicitação de conexão
# Caso queira indicar uma outra pasta para gerar o banco de dados é somente, definir o caminho no parametro conect(c:/teste/faqescola), neste
# caso do codigo abaixo o jupyter notebook irá definir o banco na pasta que esta sendo gerado o comando.
con = sqlite3.connect('faqescola.db')

In [6]:
type(con)

sqlite3.Connection

In [7]:
# Criar um cursor permite percorer todos os registros em um conjunto de dados
cur = con.cursor()

In [8]:
type(cur)

sqlite3.Cursor

In [9]:
# Criando uma instrução sql para criar tabela
sql_create = 'create table cursos' \
             '(id integer primary key,'\
             'titulo varchar(100),'\
             'categoria varchar(140))'

In [10]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

In [14]:
# Criando uma sentença sql para inserir dados na tabela cursos
sql_insert = 'insert into cursos values(?,?,?)'

In [12]:
# Dados de registros serão definidos através de uma lista
recset = [(1000,'Ciências de Dados','Data Science'),
         (1001,'Big Data Fundamentos','Big Data'),
         (1002,'Python fundamentos','Análise de Dados')]

In [13]:
recset

[(1000, 'Ciências de Dados', 'Data Science'),
 (1001, 'Big Data Fundamentos', 'Big Data'),
 (1002, 'Python fundamentos', 'Análise de Dados')]

In [15]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert,rec)

In [16]:
# Gravando Transação
con.commit()

In [17]:
sql_select = 'select * from cursos'

In [20]:
# seleciona todos os registros e recupera os dados
cur.execute(sql_select)
dados = cur.fetchall()

In [40]:
for linha in dados:
    #print ('Curso Id: %a, Título: %s, Categoria: %s \n' % linha)
    print('Curso ID: %a, Titulo: %s, Categoria: %a \n'% linha)

Curso ID: 1000, Titulo: Ciências de Dados, Categoria: 'Data Science'

Curso ID: 1001, Titulo: Big Data Fundamentos, Categoria: 'Big Data'

Curso ID: 1002, Titulo: Python fundamentos, Categoria: 'An\xe1lise de Dados'

In [32]:
recset = [(1003,'Gestão de dados com MongoDB','Big Data'),
         (1004,'R Fundamentos','Análise de Dados')]

In [33]:
for rec in recset:
    cur.execute(sql_insert,rec)

In [34]:
con.commit()

In [63]:
cur.execute('select * from cursos')

#recset = cur.fetchall()

# Cria uma lista para identificar se conforme select seria possivel gera os registro dentro de uma lista, se sim o ceu 
# é o limite.
etl = []

for l in cur.fetchall():
    print('Curso ID: %d, Titulo: %s, Categoria: %s \n'% l)
    etl.append(l)

Curso ID: 1000, Titulo: Ciências de Dados, Categoria: Data Science

Curso ID: 1001, Titulo: Big Data Fundamentos, Categoria: Big Data

Curso ID: 1002, Titulo: Python fundamentos, Categoria: Análise de Dados

Curso ID: 1003, Titulo: Gestão de dados com MongoDB, Categoria: Big Data

Curso ID: 1004, Titulo: R Fundamentos, Categoria: Análise de Dados

In [64]:
etl

[(1000, 'Ciências de Dados', 'Data Science'),
 (1001, 'Big Data Fundamentos', 'Big Data'),
 (1002, 'Python fundamentos', 'Análise de Dados'),
 (1003, 'Gestão de dados com MongoDB', 'Big Data'),
 (1004, 'R Fundamentos', 'Análise de Dados')]